*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
venv/
cookbook-social/instance/*.db
cookbook-social/uploads/
cookbook-social/outputs/
